@{
    ViewBag.Title = "Dashboard";

}

@section SideBarOptions
    {
    <a href="#" class="list-group-item text-white" style="background-color:transparent">test 1</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">test 2</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">test 3</a>
}


<h1 class="text-success">Dashboard</h1>

