@model      List < ProductsManagementSystemWithMVC.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Product Sale</h2>
<!--doing this as cards vs. previously using table-->

<div class="card-group">
    @foreach (var item in Model)
    {
        <div class="card">
            <img class="card-img-top" src="data:image;base64,@item.Photo" alt="Card image cap" />
            <div class="card-body">
                <h5 class="card-title"> @item.ProductName</h5>
                <p class="card-text">@item.Price</p>
                <p class="card-text"><small class="text-muted">@((item.Brand!=null)?   item.Brand.BrandName:       "NA")</small></p>
                <p class="card-text"><small class="text-muted">@((item.Category!=null)? item.Category.CategoryName:"NA")</small></p>
            </div>
        </div>

    }

</div>

