
@model ProductsManagementSystemWithMVC.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Product Details</h2>

<table class="table">

    <tr>
        <th>Product ID</th>
        <td>@Model.ProductID</td>
    </tr>
    <tr>
        <th>Product Name</th>
        <td>@Model.ProductName</td>
    </tr>
    <tr>
        <th>Price</th>
        <td>@Model.Price</td>
    </tr>
</table>

<a href="@Url.Action("index","Product")">Back to Products</a>