@{
    ViewBag.Title = "IndexAssignment";
   
}




    @{


        List<int> denominations = new List<int>() { 1000, 500, 100, 50, 10, 5, 1 };
        int[] numberOfBills = new int[7];
        int[] values = new int[7]; ;

        int currentNumber = ViewBag.Number;//60431

        for (int i = 0; i < 7; i++)
        {
            numberOfBills[i] = Convert.ToInt32(currentNumber / denominations[i]); ;//60; second time it is 341 / 500 = 0

            currentNumber = currentNumber - numberOfBills[i] * denominations[i];//60341 - 60 * 1000 = 341; second time its 341 -0*500=341
            values[i] = numberOfBills[i] * denominations[i];

        }

    }
    
        <h1>Currency Denominations</h1>
        <table class="table">
            <tr>
                <td>Denomination</td>
                <td>Count</td>
                <td>Amount</td>
            </tr>
            @{
                for (int j = 0; j < 7; j++)
                {
                    <tr>
                        <td>@denominations[j]</td>
                        <td>@numberOfBills[j]</td>
                        <td>@values[j]</td>
                    </tr>
                }


            }

        </table>
    
