@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}



        <div class="jumbotron">
            <h1> ASP.NET MVP testing ground</h1>
            <p>by Yaniv Nathan</p>
        </div>
   