@{
    ViewBag.Title = "Company Products";

}



    
        <div class="row">
            <div class="col-md-6">
                <h2> Categories</h2>
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action">Electronics</a>
                    <a href="#" class="list-group-item list-group-item-action">Home Appliances</a>
                    <a href="#" class="list-group-item list-group-item-action">Fasion</a>
                </div>
            </div>

            <div class="col-md-6">
                <h2> Brands</h2>
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action">Apple</a>
                    <a href="#" class="list-group-item list-group-item-action">Samsung</a>
                    <a href="#" class="list-group-item list-group-item-action">Sony</a>
                </div>
            </div>

        </div>
    