@{
    ViewBag.Title = "Contact";
   
}



   
        <div class="card">
            <div class="card-header"> <h1> Corporate Headquarters</h1></div>
            <div class="card-body">
                <p> Toll Free: @ViewBag.TollFree</p>
                <p>Email: someone@somewhere.com</p>
            </div>
        </div>
    

